body {
	background-color: white;
}

div.buttons {
	position: fixed;
	z-index: 2;
}

div.middle {
	width: 75%;
	height: 75%;
	background-color: black;
	border: 10px solid red;
	position: fixed;
	z-index: 1;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
    overflow: hidden;
    text-align: center;  /* align center all inline elements */
}

.button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}